body {
    background: #007bff;
    background: linear-gradient(to right, #e60045, #204d6b);
    padding-top: 40px;
  }
  
  .bg-image {
    background-image: url('./imagenesv1/1959307.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

